<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>用户密码修改</title>
    <!--引入css-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dataTables/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="/css/datepicker/bootstrap-datetimepicker.css"/>
    <link rel="stylesheet" href="/css/sweetalert/sweetalert2.min.css"/>

    <style type="text/css">
        /*--S--时间段的选择样式*/
        .form-group .label, .btns {
            cursor: pointer;
        }

        /*--E--时间段的选择样式*/

        .main {
            width: 100%;
            box-sizing: border-box;
            min-width: 1200px;
            padding: 20px;
        }

        .label-list .label {
            font-size: 125%;
        }

        .whiteSpace {
            white-space: nowrap;
            overflow: hidden;
        }

        .wordBreak {
            word-break: break-all;
        }

        .fl {
            float: left;
        }

        /*--E--文本详情的样式*/


    </style>

    <!-- 引入js -->
    <script type="text/javascript" src="/js/moment/moment.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/datepicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/js/datepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/js/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="/js/sweetalert/sweetalert2.min.js"></script>

    <script type="text/javascript">
    function showALLEmpList(){
    window.location.href = "/emp/empList";
    }
    function updatePassword() {
        var employeeid=$('#employeeid').val();
        var password=$('#password').val();
        var qrpassword=$('#qrpassword').val();
        if((password==null||password==''||password==undefined)||(qrpassword==null||qrpassword==''||qrpassword==undefined)){
            alert("初始密码和确认密码不能为空!");
            return false;
        }
        if(password!=qrpassword){
            alert("两次密码输入不相等,请重新输入!");
            return false;
        }
        $.ajax({
            url:"/emp/updatePassWord",
            type:'post',
            dataType: 'json',
            contentType: 'application/json',
            data:JSON.stringify({"employeeid":employeeid,"ypassword":ypassword,"password":password,"qrpassword":qrpassword}),
            async: true,
            success:function(data){
                console.log(data);
                if(data.success==true){
                    alert(data.description+",返回用户列表");
                    window.location.href = "/emp/empList";
                }else{
                    alert("密码修改保存失败,失败原因:["+data.description+"]");
                }
            },
            error:function () {
            }
        });
    }
    </script>
</head>
<body>
<table id="emptable" class="table stripe table-bordered table-hover">
    <h><p th:text="'用户:'+${Employees.empname}"></p></h>
    <tr>
        <input type="hidden" id="employeeid" th:value="${Employees.employeeid}">
        <td>用户ID</td>
        <td th:text="${Employees.employeeid}"></td>
    </tr>
    <tr>
        <td>用户名</td>
        <td th:text="${Employees.empid}"></td>
    </tr>
    <tr>
        <td>初始密码</td>
        <td>
            <input id="password" type="password"/>
        </td>
    </tr>
    <tr>
        <td>确认密码</td>
        <td>
            <input id="qrpassword" type="password"/>
        </td>
    </tr>
    <tr>
        <td>操作</td>
        <td>
            <p>
                <input value="保存修改" type="button" class="btn btn-success" th:onclick="|updatePassword()|"/>  |  <input value="返回列表" type="button" class="btn btn-success" th:onclick="|showALLEmpList()|"/>
            </p>
        </td>
    </tr>
</table>
</body>
</html>